@model ContasBancarias.Domain.Models.Contas

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<h4>Contas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroConta" class="control-label"></label>
                <input asp-for="NumeroConta" class="form-control" />
                <span asp-validation-for="NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroAgencia" class="control-label"></label>
                <input asp-for="NumeroAgencia" class="form-control" />
                <span asp-validation-for="NumeroAgencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfOuCnpj" class="control-label"></label>
                <input asp-for="CpfOuCnpj" class="form-control" />
                <span asp-validation-for="CpfOuCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeOuRazaoSocial" class="control-label"></label>
                <input asp-for="NomeOuRazaoSocial" class="form-control" />
                <span asp-validation-for="NomeOuRazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}